@using ONLINEBO.Models
@model ONLINEBO.Models.BankInfoModel
@{
    ViewBag.Title = "BankInfo";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<script>
    $(document).ready(function () {

        $("#bankNameList").empty();

        $.ajax({

            url: "/Branch/GetBankName",
            type: 'Post',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(),
            success: function (data) {
                //$("#bankDistrictList").empty();

                $("#bankNameList").append($("<option />").val("Select Your Bank").text("Select Your Bank"));
                $.each(data, function (value) {
                    //alert(data[value].BANKDISTRICT);
                    $("#bankNameList").append($("<option />").val(data[value].BANKNAME).text(data[value].BANKNAME));
                });
                //alert("End");

            }
        });

        $("#bankNameList").change(function () {
            $("#bankname").val($("#bankNameList").val());
        });

        $("#bankDistrictList").change(function () {
            $("#district").val($("#bankDistrictList").val());
        });
        $("#bankbranchlist").change(function () {
            $("#branch").val($("#bankbranchlist").val());

        });

        //$("#bankroutinglist").change(function () {
        //    $("#routing").val($("#bankroutinglist").val());
        //});



    });
</script>

<script src="~/AngularJS/LoadBankInfo.js"></script>


<div class="jumbotron" style="background-color:white;margin:0;">
    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@

        @Html.ValidationSummary(true)


        @*Get Bank District*@



        <div class="panel panel-primary" style="border-color: #8a6d3b;">
            <div class="panel-heading" style="background-color: #8a6d3b; border-color: #8a6d3b;">
                <h3 class="panel-title">Bank Information</h3>
            </div>
            <div class="panel-body">
                @* Show Message *@
                <div class="row" style="padding-top:10px;color:red;">

                </div>
                <div class="row" style="padding-top:10px;color:green;">
                    <div class="col-sm-12">
                        @if (ViewBag.MessageBank != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Error!</strong> @ViewBag.MessageBank
                            </div>

                        }
                        @if (Session["MessageAcc1"] != null)
                        {
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Success!</strong> @Session["MessageAcc1"]
                            </div>
                        }
                        @*@if (Session["MessageAcc1"] != null)
                        {
                            @Session["MessageAcc1"].ToString();
                        }*@

                    </div>
                </div>
                @* End Show Message *@
                <div class="row ">
                    <div class="col-sm-4" id="abc" data-toggle="tooltip" style="padding-top:1%;">
                        @Html.DropDownListFor(m => m.BANKNAME, new SelectList(ViewBag.bankname, "BANKNAME", "BANKNAME"), "Select Your Bank", new { id = "bankNameList", @class = "form-control" })
                        @*@Html.DropDownListFor(model => model.BANKNAME, new SelectList(Model.banklist, "BANKNAME", "BANKNAME"), "Select Your Bank", new { id = "bankNameList", @class = "form-control" })*@
                    </div>
                    <div class="col-sm-4" id="abc" data-toggle="tooltip" style="padding-top:1%;">
                        @Html.DropDownListFor(model => model.BANKDISTRICT, new SelectList(ViewBag.districtName, "BANKDISTRICT", "BANKDISTRICT"), "Select Your Bank District", new { id = "bankDistrictList", @class = "form-control" })
                    </div>
                    <div class="col-sm-4" id="abc" data-toggle="tooltip" style="padding-top:1%;">
                        @Html.DropDownListFor(model => model.BANKBRANCH, new SelectList(ViewBag.branchName, "BANKBRANCH", "BANKBRANCH"), "Select Your Bank Branch", new { id = "bankbranchlist", @class = "form-control" })
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-4" id="abc" data-toggle="tooltip" style="padding-top:1%;">
                        @Html.DropDownListFor(model => model.BANKROUTING, new SelectList(ViewBag.routingNUmber, "BANKROUTING", "BANKROUTING"), new { id = "bankroutinglist", @class = "form-control" })
                    </div>
                    <div class="col-sm-4" id="abc" data-toggle="tooltip" style="padding-top:1%;">
                        @Html.TextBoxFor(model => model.BANKAC, new { @maxlength="13", @class = "form-control text-label", @title = "First Name", @required = "required", @placeholder = "Your Bank A/C Number", id = "ac" })
                        ** Bank AC must be 13 digites
                    </div>
                    <div class="col-sm-4" id="abc" data-toggle="tooltip" style="padding-top:1%;">

                    </div>
                </div>
            </div>
        </div>

                        /*

                <div class="row ">
                    <div class="col-sm-4" id="abc" data-toggle="tooltip" style="padding-top:1%;">
                        @Html.TextBoxFor(model => model.BANKNAME1, new { @class = "form-control text-label", @title = "First Name", @required = "required", @placeholder = "Bank Name", @disabled = "disabled",id = "bankname" })
                        @*@Html.DropDownListFor(model => model.BANKNAME, new SelectList(Model.banklist, "BANKNAME", "BANKNAME"), "Select Your Bank", new { id = "bankNameList", @class = "form-control" })*@
                    </div>
                    <div class="col-sm-4" id="abc" data-toggle="tooltip" style="padding-top:1%;">
                       @Html.TextBoxFor(model => model.BANKDISTRICT1, new { @class = "form-control text-label", @title = "First Name", @required = "required", @placeholder = "Bank District Name", @disabled = "disabled", id = "district" })
                    </div>
                    <div class="col-sm-4" id="abc" data-toggle="tooltip" style="padding-top:1%;">
                       @Html.TextBoxFor(model => model.BANKBRANCH1, new { @class = "form-control text-label", @title = "First Name", @required = "required", @placeholder = "Bank Branch Name", @disabled = "disabled", id = "branch" })
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-4" id="abc" data-toggle="tooltip" style="padding-top:1%;">
                       @Html.TextBoxFor(model => model.BANKROUTING1, new { @class = "form-control text-label", @title = "First Name", @required = "required", @placeholder = "Routing Number", @disabled = "disabled", id = "routing" })
                    </div>
                    <div class="col-sm-4" id="abc" data-toggle="tooltip" style="padding-top:1%;">
                        @Html.TextBoxFor(model => model.BANKAC1, new { @class = "form-control text-label", @title = "First Name", @required = "required", @placeholder = "Your Bank A/C Number", id = "ac" })
                    </div>
                    <div class="col-sm-4" id="abc" data-toggle="tooltip" style="padding-top:1%;">

                    </div>
                </div>
    */
                        <div class="panel panel-danger" style="border-color: #8a6d3b;">
                            <div class="panel-body">
                                <div style="float:right;">
                                    @Html.ActionLink("Back", "BankInfoEdit", "Client", null, new { @class = "btn btn-danger" }) || <input type="submit" value="Save and Continue" class="btn btn-info" />
                                </div>
                            </div>
                        </div>
    }
</div>
@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






