
@{
    ViewBag.Title = "CreateNewBO";
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";
}
@model ONLINEBO.Models.HomeModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
    
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create New BO Account</h3>
            </div>
            <div class="panel-body">


                <div class="row">
                    <div class="col-sm-6" style="padding-top:10px;">
                        <div class="">
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control text-label", @placeholder = "First Name *", @required = "required" })
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "error" })
                        </div>
                    </div>

                    <div class="col-sm-6" style="padding-top:10px;">
                        <div class="">
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control text-label", @placeholder = "Last Name *",@required = "required" })
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "error" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="padding-top:10px;">
                        <div class="">
                            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control text-label", @placeholder = "Mobile *", @required = "required" })
                            @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "error" })
                        </div>
                    </div>

                    <div class="col-sm-6" style="padding-top:10px;">
                        <div class="">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control text-label ", @placeholder = "Email *", @required = "required", @type = "email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
                        </div>
                    </div>
                </div>


                <div class="row" style="padding-top:20px;float:left;">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="submit" value="Create Account" class="btn btn-primary" />
                        </div>
                    </div>
                </div>


            </div>
        </div>
}


